<a href="https://colab.research.google.com/github/abodunrin95/joseph/blob/master/Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.DataFrame({'6': [3,4,5]})

   6
0  3
1  4
2  5

In [1]:
import time
 
print(time.ctime())

Wed Jul  8 21:35:18 2020

In [3]:
time.sleep(5)
 
print(time.ctime())

Wed Jul  8 21:35:24 2020

 Constraints are 
 
 - $3x_1 + 6x_2 + x_3 =< 38$
 - $7x_1 + 3x_2 + 2x_3 =< 37$
 - $4x_1 + 5x_2 + 2x_3 =< 19$
 - $x_1, x_2, x_3 >= 0$
 
 - $u_i(t) = x(t) + \beta(\hat{x}(t) - x_i(t)) + \beta \sum_{k=1}^{n_v}(x_i1, k^(t)) - x_i2, k^(t))$

$e^x = \sum_{i = 0}^\infty \frac{2}{i|} x^{(i + 2)^5}$